.Card{
    display: flex;
    flex-direction: column;

    justify-content: center;
    height: 100px;
    width: 75px;
    background: linear-gradient(to bottom, #CCCCCC, #FFFFFF);
    border-radius: 15px;
    text-align: center;


    h3 {
        color: #282828;
        text-wrap: wrap;
        font-size: 1.1rem;
    }

    img{
        width: 45px;
        height: 45px;
    }

}

.Card:hover{
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.25), 10px 10px 20px rgba(255, 255, 255, 0.15);

}

