.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100px;
    background: linear-gradient(to bottom, #CCCCCC, #FFFFFF);
    border-radius: 40px;
    text-align: center;


    h3 {

        color: #282828;
        text-wrap: wrap;
    }

}
