.Main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}

.Me{
    padding: .2rem;
    border: .1rem solid #3E3E3E;
    border-radius: 5px;
    animation: pulse-border 1.5s infinite;
    box-shadow: 0 0 10px rgb(62, 62, 62);
}

@keyframes pulse-border {
    0% {
        border-color: #3E3E3E;
    }
    50% {
        border-color: #F2F2F2;
    }
    100% {
        border-color: #3E3E3E;
    }
}


