

.GeneralInfoMain{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
}

/*NAME MAIN*/
.Name {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: fit-content;

}

.FirstName {
    color: #339E76;
    padding-bottom: 1rem;
}

.Description {
    display: grid;
    justify-items: center;
    padding-bottom: 1rem;
}

.LinkMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.LinkMain > a > img {
    width: max(2.5rem);
    padding: .25rem;
    filter: brightness(0) invert(1);
}
