@font-face {
    font-family: "Action Man";
    src: url('./assets/myFont/Action Man.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Action Man Bold";
    src: url('./assets/myFont/Action Man Bold.ttf');
    font-weight: Bold;
    font-style: normal;
}


@font-face {
    font-family: "Action Man Shaded";
    src: url('./assets/myFont/Action Man Shaded.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: "Action Man", serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #F2F2F2;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.NavBar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: min(2rem);
}

a {
    text-decoration: none;
}

.NavBar > div > a {
    font-size: 2rem;
    font-family: "Action Man Bold";
    color: #3E3E3E;
    transition: .125s ease-out;
}

.NavBar > div > a:hover {
    font-family: "Action Man Shaded";
}

/*button {*/
/*    border-radius: 8px;*/
/*    border: 1px solid transparent;*/
/*    padding: 0.6em 1.2em;*/
/*    font-size: 1em;*/
/*    font-weight: 500;*/
/*    font-family: inherit;*/
/*    background-color: #1a1a1a;*/
/*    cursor: pointer;*/
/*    transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*    border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*    outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        color: #213547;*/
/*        background-color: #ffffff;*/
/*    }*/
/*    a:hover {*/
/*        color: #747bff;*/
/*    }*/
/*    button {*/
/*        background-color: #f9f9f9;*/
/*    }*/
/*}*/
