.TabMain{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*MAIN*/

.TabLink{
    transition: .025s ease-out;
    display: inline-block;
}

.TabLink > h1 {
    font-family: "Action Man Shaded";
    color: #3E3E3E;
    font-size: 4rem;
}

.TabLink:hover h1{
    transform: scale(1.025);
    font-family: "Action Man Bold";
}